@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Cairo:slnt,wght@-11..11,200..1000&display=swap");
:root {
  --size: clamp(10rem, 1rem + 40vmin, 30rem);
  --gap: calc(var(--size) / 14);
  --scroll-start: 100%;
  --scroll-end: 0;

  --scroll-start-reverse: 0%;
  --scroll-end-reverse: 100%;
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  margin: auto;
  min-width: 98vw;
}

.marquee {
  display: flex;
  overflow: hidden;
  width: 75%;
  height: 70px;
  margin: auto;
  user-select: none;
  gap: var(--gap);
  mask-image: linear-gradient(
    var(--mask-direction, to right),
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );
}

.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll-x 15s linear infinite;
}

.marquee__group__reverse {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll-x-reverse 15s linear infinite;
}

@keyframes scroll-x-reverse {
  from {
    transform: translateX(var(--scroll-start-reverse));
  }
  to {
    transform: translateX(var(--scroll-end-reverse));
  }
}

@keyframes scroll-x {
  from {
    transform: translateX(var(--scroll-start));
  }
  to {
    transform: translateX(var(--scroll-end));
  }
}

@keyframes fade {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.swiper-slide {
  width: fit-content;
}

.link-78 {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 5px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.link-78::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.link-78:hover::before {
  width: 200px;
  height: 200px;
  animation: ripple78 1s ease-out infinite;
  opacity: 1;
}

@keyframes ripple78 {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}
